.logo{
    margin-top: 50px;
    margin-left: 45px;
    margin-bottom: 40px; 
    user-select: none;
}

.menu{
    background: linear-gradient(to top, #2e2d2c, #77726a);
    padding: 10px 20px;
    margin-left: 45px;
}

.menu button{
    background: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: rgb(255, 255, 255);
}

.shop{
    margin-left: 140px;
    margin-top: -22px;
}

.info{
    margin-left: 280px;
    margin-top: -22px;
}

.contacts{
    margin-left: 410px;
    margin-top: -22px;
}

.content{
    margin: 0 auto;
    width: 1060px;
    height: 930px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*.categories{
    height: 240px;
    width: 240px;
    border: 1px solid #c8c8c8;
    margin-top: 40px;
}*/

.categories{
    position: relative;
    left: 45px;
    top: -365px;
}

.border{
    color:#656363;
    font-size: 10pt;
    width: 240px;
    height: 40px;
    border: 1px solid #c8c8c8;

}

.text{
    padding: 10px 20px;
}

.bike{
    padding: 100px 0px 0px 400px;
}

.lorem{
    position: relative;
    top: -200px;
    left: 380px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
